###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/repo/*
!/repo/readme.md

/work/*
!/work/readme.md

/web/*
!/web/index.php
!/web/admin

/node_modules

/public/build

/fakewebpack.config.js
