/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/repo/*
!/repo/readme.md

/work/*
!/work/readme.md

/web/*
!/web/.htaccess
!/web/app.php
!/web/app_dev.php
!/web/apple-touch-icon.png
!/web/config.php
!/web/favicon.ico
!/web/monkey-toy.png
!/web/robots.txt

/vendor/
