{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block body %}
    <div class="text-center">
        <a href="https://github.com/elkuku/MiniShift">
            <img src="{{ asset('build/images/monkey-toy.png') }}"/>
            <h1 class="minishift">MiniShift</h1>
            github.com/elkuku/MiniShift
        </a>
    </div>
{% endblock %}
